<article>
  <header>
    <h1>About</h1>
  </header>

  <section>
    <p class="lead">My name is Andrew Duckworth. I am a developer, artist and product manager.</p>
    <p>A product jack of all trades, I love to create user-centric products with skills ranging from UX/UI, Agile Business Analysis to Rails, PHP and JavaScript development</p>
  </section>
  
  <footer></footer>
</article>